.header-area {
    position: fixed;
}
.blog-page {
    padding-top:75px;
}
.faq-background {
    background-color: #f9f9f9;
}

.blog-background {
    background-color: #f9f9f9;
}

.project-dec h4 {
    padding-top: 20%;
}

.project-dec p {
    color: #a59999;
}

.involvement-backgroud {
    background-color: #a9a9a9;
}

.about-background {
    background-color: #dedede;
}

.scrumProcess {
    background:   url('/images/background/scrum_process_new.png')   center center no-repeat rgba(0, 0, 0, 0);
    width: 800px;
    height: 465px;
    margin: 0 auto;
}
